<!-- app/views/registrations/new.html.erb -->
<h2>Zarejestruj się</h2>

<%= form_for @user, url: registrations_path do |f| %>
  <%= f.label :name, 'Nazwa użytkownika:' %>
  <%= f.text_field :name %>

  <%= f.label :login, 'Email:' %>
  <%= f.email_field :login %>

  <%= f.label :password, 'Hasło:' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, 'Potwierdź hasło:' %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Zarejestruj się' %>
<% end %>