<!-- app/views/home/index.html.erb -->

<h1>Witaj w SecureEntry!</h1>

<% if user_signed_in? %>
  <% if current_user.isadmin %>
    <p>Witaj adminie!</p>
    <!-- Dodaj tutaj zawartość widoku dla administratora -->
    <%= link_to 'Panel zarządzania użytkownikami', admin_users_path, class: 'btn btn-primary' %><br>
    <%= link_to "Zgubione karty", '/lost_cards/all_lost_cards' %>
  <% else %>
    <p>Witaj użytkowniku!</p>

    <h1>Pomieszczenia do których masz dostęp:</h1>

    <% if @rooms && @rooms.any? %>
      <ul>
        <% @rooms.each do |room| %>
          <li><%= room.name %></li>
        <% end %>
      </ul>

      <%= form_with(url: '/report_lost_card', method: 'post') do |form| %>
        <%= form.submit 'Zgłoś zgubienie karty' %>
      <% end %>

      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% elsif flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>

    <% else %>
      <p>Nie masz dostępu do żadnych pomieszczeń.</p>
    <% end %>
  <% end %>
<% else %>
  <p>Aby korzystać z aplikacji, zaloguj się lub zarejestruj.</p>
<% end %>
