<div id="<%= dom_id log %>">
  <p>
    <strong>Time:</strong>
    <%= log.time %>
  </p>

  <p>
    <strong>Accessed:</strong>
    <%= log.accessed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= log.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= log.room_id %>
  </p>

</div>
